* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    list-style: none;
}

body {
    background: linear-gradient(to left bottom, #00FFA9, #0D4DFF) fixed;
    height: 100%;
    width: 100%;
}

body.results{
    background: linear-gradient(to right bottom, #00FFA9, #0D4DFF) fixed;
    height: 100%;
    width: 100%;
}

html#home {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* LANDING PAGE */
#landingpage {
    padding-top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
    background-size: 100%;
}

#homePage {
    height: 100%;
    width: 100%;
    background: linear-gradient(to left bottom, #00FFA9, #0D4DFF) fixed;
}

#aboutPage {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

#symptomsPage {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

#preventionPage {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}

.navbar {
    background-color: #f2f2f2;
}

.navbar-toggler {
    margin: 20px 20px 20px 10px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    float: right;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    display: block;
    float: right;
    margin: 10px;
    padding: 10px 10px;
    width: 130px;
    height: auto;

    text-align: center;
    color: #272727;
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0D4DFF;
}

/* LANDING PAGE */
#landingpage {
    padding-top: 30vh;
    margin-left: 50px;
    margin-right: 50px;
    background-size: 100%;
}

.expl {
    color: white;
    font-size: 300%;
    margin: 10px;
}

.expl#e2 {
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 30px;
}

#testBtn {
    padding: 0.5% 2%;

    background-image: linear-gradient(to right, #00FFA9, #0D4DFF);
    border-color: white;
    border-radius: 30px;
    width: 200px;

    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);

    color: white;
    font-size: 22px;
    font-weight: normal;
}

#testBtn:hover {
    box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

#resultBtn {
    padding: 0.5% 2%;

    background-color: white;
    border-color: #f2f2f2;
    border-radius: 30px;
    width: 200px;

    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);

    color: #001C65;
    font-size: 22px;
    font-weight: normal;
}

#resultBtn:hover {
    box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

#about {
    height: 100%;
    width: 100%;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color: #E9E9E9;
    border-radius: 20px;
}

#testForm {
    background-color: white;
    border-radius: 45px;
    box-shadow: 5px 5px 5px 0 #464646;

    margin: 5vh 7vw;
/* 
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 5vh;
    margin-bottom: 5vh; */
}

.form-group {
    width: 100%;
}

.yesNoIdk{
    margin-right: 10%;
}

.formQ {
    color: #001C65;
    font-size: large;
    font-weight: bolder;
}

h1.formQ {
    color: #001C65;
    font-size: 300%;
    font-weight: bolder;
}

label {
    color: #0E61BC;
    font-weight: bold;
}

label.country {
    margin-right: 2.5vw;
}

.resultHeader {
    color: black;
    font-size: 200%;
    margin: 10px;
}

.testResult {
    font-size: 288px;
    font-weight: bold;
    background: -webkit-linear-gradient(left, #0D4DFF, #00FFA9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}