* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to left bottom, #00FFA9, #0D4DFF) fixed;

}
.navbar {
    background-color: #f2f2f2;
}
.navbar-toggler {
    margin: 20px 20px 20px 10px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    float: right;
}

.navbar-collapse {
    text-align: center;
}

.navbar-nav .nav-item .nav-link{
    display: block;
    float: right;
    margin: 10px;
    padding: 10px 10px;
    width: 130px;
    height: auto;

    text-align: center;
    color: #272727;
    font-size: 22px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0D4DFF;
}

/* LANDING PAGE */
#landingpage {
    padding-top: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background-size: 100%;
}
.expl {
    color: white;
    font-size: 300%;
    margin: 10px;
}

.expl#e2 {
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 30px;
}

#testBtn {
    padding: 0.5% 2%;
    margin: 40px auto;
    margin-bottom: 100px;

    background-image: linear-gradient(to right, #00FFA9, #0D4DFF);
    border-color: white;
    border-radius: 30px;
    width: 200px;

    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);

    color: white;
    font-size: 22px;
    font-weight: normal;
}

#testBtn:hover {
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
}
